<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>OrdersSystem_test</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Web Application Character Encoding</filter-name>
    <filter-class>com.rakuten.util.SetEncodeFilter</filter-class>
    <init-param>
      <param-name>defaultencoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Web Application Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.rakuten.listener.GetOrderExpectionListener</listener-class>
  </listener>
<!--     <listener> -->
<!--     <listener-class>com.rakuten.listener.DownloadItemListener</listener-class> -->
<!--   </listener> -->
<!--      <listener> -->
<!--     <listener-class>com.rakuten.listener.UpdateLeft2Listener</listener-class> -->
<!--   </listener> -->
<!--   <listener> -->
<!--     <listener-class>com.rakuten.listener.UpdateTopListener</listener-class> -->
<!--   </listener> -->
    <listener>
    <listener-class>com.rakuten.listener.UpdateEventListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.rakuten.listener.UpdateOrderStsListener</listener-class>
  </listener>
</web-app>